@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* css general */

body{
    background-color: #bae0c2;
}

.title{
    text-align: center;
    font-size: 5em;
    color: #227a22;
    font-weight: bolder;
    margin: 50px;
}
.bg-navbar{
    background-color: bisque;
    font-size: 1.2em;
}

.footer{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-bottom: 0%;
    height: 100px;
}

.bg-aqw{
    background-color: antiquewhite;
    border-radius: 10px;
}

/* css inicio */

.title-th{
    font-size: 1.5em;
    padding: 2%;
    background-color: antiquewhite;
}

.text-td{
    font-size: 1.5em;
    padding: 2%;
    background-color: antiquewhite;
    width: 400px;
}

table {
    border: 1px solid var(--border-primary);
    border-collapse: collapse;
}

.tabla{
    display: flex;
    justify-content: center;
    margin-bottom: 140.5px;
}

.bg-numero{
    background-color: #efac51;
}

.bg-nombre{
    background-color: #de9537;
}

.bg-año-curso{
    background-color: #ce7d1d;
}

.bg-materia{
    background-color: #bd6503;
}

.bg-docente{
    background-color: #9c3505;
}

/* css integrantes */

.cv-text{
    color: black;
    text-decoration: none;
}

.text-nosotros{
    text-align: center;
}

.conteiner{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 150px;
}

.subconteiner{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3%;
}

.box{
    display: flex;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 300px;
    flex-direction: column;
    align-items: center;
}

.img{
    margin: 10px;
    border: solid rgb(94, 57, 8);
    width: 250px;
    border-radius: 10px;
}

/* Css proyecto */

.text{
    font-size: 1.7em;
    margin: 5%;
    padding: 10px;
}

.proyecto{
    margin-bottom: 275px;
}

/* css sitio */

.a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prox{
    text-align: center;
    color: #5e1e04;
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 395px;
    margin-top: 100px;
}

/* CSS PAGINAS DE AVANCE */

/* css pagina presentacion */

.box-presentacion{
    display: flex;
    background: #F7D4A4;
    border: 0.4px solid #d1a466;
    border-radius: 10px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.conteiner-presentacion{
    display: flex;
    justify-content: space-around;
    margin: 3% 50px 225px 50px;
    padding: 20px;
}

.text-presentacion{
    text-align: center;
    font-size: 1.3em;
}

.title-presentacion{
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
}

/* css pagina publico */

.caja-publico{
    display: flex;
    flex-direction: column;
}

.box-publico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-propuesta{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAEBD7;
    margin: 5% 5% 1.5% 5%;
    border: 0.4px solid #000000;
    border-radius: 10px;
}

.title-publico{
    font-size: 3em;
    font-weight: bolder;
    margin: 30px;
}

.subtitles-publico{
    font-size: 1.7em;
    font-weight: bold;
}

.box-interna-publico{
    background: #F7D4A4;
    border: 0.4px solid #d1a466;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    margin: 20px;
}

.text-publico{
    font-size: 1.6em;
    text-align: center;
}

.subtext-publico{
    font-size: 1.6em;
}

/* css pagina identidad */

.img-transmitir{
    width: 50%;
    margin: 20px;
    border: solid rgb(94, 57, 8);
    border-radius: 10px;
}

.conteiner-identidad{
    display: flex;
    margin: 3%;
    padding: 20px;
    justify-content: space-between;
}

.box-identidad{
    background: #F7D4A4;
    border: 0.4px solid #d1a466;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    justify-content: space-around;
}

.text-identidad{
    font-size: 1.4em;
}

.title-identidad{
    font-size: 1.7em;
    font-weight: bold;
}

.title-transmitir{
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
    margin: 20px;
}

.text-transmitir{
    font-size: 1.5em;
    text-align: center;
}

.link-transmitir{
    text-decoration: none;
    color: #000000;
}

/* css pagina descripcion */

.img-aling{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

.img-decoration{
    border: solid rgb(94, 57, 8);
    border-radius: 10px;
    width: 70%;
}

/* css pagina prototipado */

.prototipado{
    background: #FAEBD7;
    border: 0.4px solid #000000;
    border-radius: 10px;
    padding: 25px;
    margin: 5% 30px 0% 30px;
}

.prototipado-cel{
    background: #FAEBD7;
    border: 0.4px solid #000000;
    border-radius: 10px;
    padding: 25px;
    margin: 0% 30px 10% 30px;
}

.prototipado-cont{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.title-prototipado{
    text-align: center;
    font-size: 2em;
}

.link-prototipado{
    text-decoration: none;
    color: #000000;
    align-items: center;
}

.text-prototipado{
    text-align: center;
    font-size: 1em;
}

/* RESPONSIVE PAGINAS PRINCIPALES */

@media (max-width:1200px){

    .conteiner{
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }

    .box-presentacion{
        display: flex;
        background: #F7D4A4;
        border: 0.4px solid #d1a466;
        border-radius: 10px;
        width: 200px;
        padding: 5px;
    }
    
    .conteiner-presentacion{
        margin: 3% 20px 225px 20px;
    }
    
    .text-presentacion{
        font-size: 1em;
    }
    
    .title-presentacion{
        font-size: 1.50em;
    }

    .conteiner-identidad{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-identidad{
        width: 80%;
        padding: 10px;
        margin-top: 20px;
    }
    .text-identidad{
        font-size: 1.em;
    }
    
    .title-identidad{
        font-size: 1.4em;
        font-weight: bold;
    }
}

@media (max-width:900px){
    .conteiner-presentacion{
        margin: 3% 20px 225px 20px;
        flex-direction: column;
        align-items: center;
    }
    .box-presentacion{
        width: 300px;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 5px;
        margin-top: 20px;
    }
    .text-publico{
        font-size: 1em;
        text-align: center;
    }
    .subtext-publico{
        font-size: 0.9em;
    }
    .title-publico{
        font-size: 1.5em;
        font-weight: bolder;
        margin: 30px;
        text-align: center;
    }
    .subtitles-publico{
        font-size: 1em;
        font-weight: bold;
    }
}

@media (max-width:600px){


    nav ul li a{
        font-size: 1rem;
    }

/* Responsive pagina de inicio */

    .title{
        font-size: 2.5em;
    }

    .conteiner-onu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text{
        font-size: 1em;
        margin: 0;
        padding: 3px;
    }

    .footer{
        flex-direction: column;
        text-align: center;
        font-size: 1em;
    }

    .title-th{
        font-size: 1em;
        padding: 2%;
    }
    
    .text-td{
        font-size: 1em;
        width: 300px;
    }

    table {
        margin: 0;
        overflow: auto;
        width: 100vw;
    }

    .tabla{
        margin-bottom: 50%;
        margin-top: 2%;
    }

/* Responsive pagina integrantes */

    .conteiner{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }
    
    .box{
        width: 200px;
        align-items: center;
    }

    .img{
        margin: 10px;
        width: 125px;
    }

    .text-nosotros{
        font-size: 1em;
    }

    .cv-text{
        font-size: 0.7em;
    }

/* Responsive pagina proyecto */

    .text{
        font-size: 1em;
        margin: 5%;
    }

    .proyecto{
        margin-bottom: 47%;
        margin-top: 14%;
    }

/* Responsive pagina sitio */    

    .prox{
        font-size: 2em;
        margin-bottom: 395px;
        margin-top: 100px;
    }

/* responsive pagina identidad */

    .conteiner-identidad{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-identidad{
        width: 80%;
        padding: 10px;
        margin-top: 20px;
    }
    .text-identidad{
        font-size: 0.7em;
    }

    .title-identidad{
        font-size: 1em;
        font-weight: bold;
    }

    .title-transmitir{
        font-weight: bolder;
        font-size: 1.5em;
        text-align: center;
        margin: 20px;
    }
    
    .text-transmitir{
        font-size: 1em;
        text-align: center;
    }

    /* responsive de identidad */
    .img-aling{
        margin-bottom: 40%;
        margin-top: 14%;
    }

    /* Responsive de prototipado */
    .text-prototipado{
        text-align: center;
        font-size: 0.6em;
    }
    .title-prototipado{
        text-align: center;
        font-size: 1.5em;
    }

    .box-publico{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .box-interna-publico{
        width: 70%;
    }
}

@media (max-width:400px){

    .title{
        font-size: 2em;
    }

    .subconteiner{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 3%;
        flex-direction: column;
        align-items: center;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .footer{
        flex-direction: column;
        text-align: center;
        font-size: 0.8em;
    }

    .proyecto{
        margin-bottom: 53%;
        margin-top: 14%;
    }

    .tabla{
        margin-bottom: 55%;
        margin-top: 2%;
    }
}

