@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #bae0c2;
}

/* css navbar */

.bg-navbar{
    background-color: bisque;
}


/* css tabla */
.bg-numero{
    background-color: #efac51;
}

.bg-nombre{
    background-color: #de9537;
}

.bg-año-curso{
    background-color: #ce7d1d;
}

.bg-materia{
    background-color: #bd6503;
}

.bg-docente{
    background-color: #9c3505;
}

.title-th{
    font-size: 1.5em;
    padding: 2%;
}

.text-td{
    font-size: 1.5em;
    padding: 2%;
}

table {
    border: 1px solid var(--border-primary);
    border-collapse: collapse;
    width: 100%;
}